
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<a href="@Url.Action("EmployeeReport","Reports")">Employee Report</a><br />
<a href="@Url.Action("AttendanceReport","Reports")">Attendance Report</a><br />
<a href="@Url.Action("PayrollReport","Reports")">Payroll Report</a>

